packages:
  yum:
    gcc: []
    python26-setuptools: []
    python26-devel: []
    gcc-c++: []
    python27-devel: []
    atlas-sse3-devel: []
    lapack-devel: []
    postgresql92-devel: []

container_commands:  
  AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
