option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ParamSearchWorker.settings"
    PYTHONPATH: "/opt/python/current/app/django-site:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "ParamSearchWorker/wsgi.py"

container_commands:
  00_makemigrates:
    command: "django-admin.py makemigrations"
    leader_only: true
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
